<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lefer.tomu.mapper.SongMapper">
    <resultMap id="SongResultMap" type="cn.lefer.tomu.entity.Song">
        <id column="song_id" jdbcType="INTEGER" property="songID"/>
        <result column="song_name" jdbcType="VARCHAR" property="songName"/>
        <result column="song_duration" jdbcType="DOUBLE" property="songDuration"/>
        <result column="artist_name" jdbcType="VARCHAR" property="artistName"/>
        <result column="song_source" jdbcType="VARCHAR" property="songSource"/>
        <result column="song_url" jdbcType="VARCHAR" property="songUrl"/>
        <result column="mp3_url" jdbcType="VARCHAR" property="mp3Url"/>
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="lrc_url" jdbcType="VARCHAR" property="lrcUrl"/>
        <result column="song_status" jdbcType="VARCHAR" property="songStatus"/>
        <result column="song_add_date" jdbcType="DATE" property="songAddDate"/>
    </resultMap>

    <insert id="insert" parameterType="cn.lefer.tomu.entity.Song" useGeneratedKeys="true" keyProperty="songID">
        insert into T_SONG(SONG_NAME, SONG_DURATION, ARTIST_NAME, SONG_SOURCE, SONG_URL, MP3_URL, COVER_URL, LRC_URL,
                           SONG_STATUS, SONG_ADD_DATE)
        values (#{songName}, #{songDuration}, #{artistName}, #{songSource}, #{songUrl}, #{mp3Url}, #{coverUrl},
                #{lrcUrl}, #{songStatus}, #{songAddDate})
    </insert>

    <update id="batchUpdateSongStatus">
        update T_SONG
        set SONG_STATUS = #{songStatus}
        where SONG_ID in
        <foreach collection="songIDs" item="songID" open="(" separator="," close=")">
            #{songID}
        </foreach>
    </update>

    <select id="selectByID" resultMap="SongResultMap">
        select *
        from T_SONG
        where SONG_ID = #{songID}
    </select>

    <select id="selectBySongNameAndArtistNameOrMP3Url" resultMap="SongResultMap">
        select *
        from T_SONG
        where (SONG_NAME = #{songName} and ARTIST_NAME = #{artistName}) or MP3_URL = #{mp3Url}
        limit 1
    </select>

    <select id="countByChannelIDAndMP3Url" resultType="INTEGER">
        select count(a.SONG_ID)
        from T_SONG a, T_CHANNEL_SONG b
        where b.CHANNEL_ID=#{channelID} and a.SONG_STATUS in
        <foreach collection="songStatusList" item="songStatus" open="(" separator="," close=")">
            #{songStatus}
        </foreach>
        and a.MP3_URL=#{mp3Url}
    </select>

    <select id="selectAll" resultMap="SongResultMap">
        select *
        from T_SONG
        where SONG_STATUS in
        <foreach collection="songStatusList" item="songStatus" open="(" separator="," close=")">
            #{songStatus}
        </foreach>
    </select>

    <delete id="deleteByID">
        delete
        from T_SONG
        where SONG_ID = #{songID}
    </delete>

    <select id="selectByChannelID" resultMap="SongResultMap">
        select a.* from T_SONG a, T_CHANNEL_SONG b where b.CHANNEL_ID=#{channelID} and a.SONG_STATUS in
        <foreach collection="songStatusList" item="songStatus" open="(" separator="," close=")">
            #{songStatus}
        </foreach>
        and a.SONG_ID=b.SONG_ID order by b.ID
        limit #{pageSize} offset (#{pageNum}-1)*#{pageSize}
    </select>

    <select id="countByChannelID" resultType="INTEGER">
        select count(1) from T_SONG a, T_CHANNEL_SONG b where b.CHANNEL_ID=#{channelID} and a.SONG_STATUS in
        <foreach collection="songStatusList" item="songStatus" open="(" separator="," close=")">
            #{songStatus}
        </foreach>
        and a.SONG_ID=b.SONG_ID
    </select>

    <select id="selectAllByChannelID" resultMap="SongResultMap">
        select a.* from T_SONG a, T_CHANNEL_SONG b where b.CHANNEL_ID=#{channelID} and a.SONG_STATUS in
        <foreach collection="songStatusList" item="songStatus" open="(" separator="," close=")">
            #{songStatus}
        </foreach>
        and a.SONG_ID=b.SONG_ID order by b.ID
    </select>

    <select id="randomSelect" resultMap="SongResultMap">
        select * from T_SONG where SONG_STATUS=#{songStatus} order by random() limit #{size}
    </select>
</mapper>